#dayCard {
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid aliceblue;
    border-radius: 10px;
}

#dayName {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid aliceblue;
}

#dayTasks {
    width: 100%;
    height: 100%;
}