@font-face {
    font-family: 'NunitoExtraBold';
    src: url(../../../Fonts/Nunito/static/Nunito-ExtraBold.ttf) format('truetype');
}

#dayCard {
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid aliceblue;
    border-radius: 10px;
}

#dayName {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid aliceblue;
    font-family: 'NunitoExtraBold', serif;
    font-size: 16px;
}

#dayTasks {
    width: 100%;
    height: 100%;
    padding-top: 5px;
}

@media only screen and (min-width: 600px) {
    #dayCard {
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid aliceblue;
        border-radius: 10px;
        height: auto;
        width: 100%;
    }
    
    #dayName {
        background-color: aliceblue;
        border-radius: 10px;
        border: 1px solid aliceblue;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #dayTasks {
        flex: 9;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 10px;
    }
}