@font-face {
    font-family: 'NunitoExtraBold';
    src: url(../../../../Fonts/Nunito/static/Nunito-ExtraBold.ttf) format('truetype');
}

#container {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background-color: #f9f9fa;
    border-radius: 10px;
}

#btn {
    flex: 1;
    border-radius: 10px;
    background: transparent;
}

#btn > p {
    font-family: 'NunitoExtraBold', serif;
    font-size: 30px;
}

#modalBtn {
    background: transparent;
    position: absolute;
    top: 15px;
    left: 15px;
}

#addTaskModal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}