@font-face {
    font-family: 'NunitoExtraBold';
    src: url(../../../../Fonts/Nunito/static/Nunito-ExtraBold.ttf) format('truetype');
}

#container {
    flex: 1;
    margin: 20px;
    border-radius: 10px;
    font-family: 'NunitoExtraBold', serif;
    font-size: 30px;
    background-color: #f9f9fa;
}

.overlayOptionsModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cecece;
}