@font-face {
    font-family: 'NunitoExtraBold';
    src: url(../../../Fonts/Nunito/static/Nunito-ExtraBold.ttf) format('truetype');
}

.weekTask {
    background-color: #dee5eb;
    margin-bottom: 5px;
    border-radius: 5px;
}

.weekTask > * {
    font-family: 'NunitoExtraBold', serif;
}

#startHour {
    text-align: left;
    margin-left: 3px;
    font-weight: bold;
    font-size: 12px;
}

#endHour {
    text-align: right;
    margin-right: 3px;
    font-weight: bold;
    font-size: 12px;
}