@font-face {
    font-family: 'NunitoExtraBold';
    src: url(../../Fonts/Nunito/static/Nunito-ExtraBold.ttf) format('truetype');
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8f8f8f;
    margin: 40px;
    height: calc(100vh - 80px);
    border-radius: 25px;
}

#mesage {
    font-size: 60px;
    font-family: 'NunitoExtraBold', serif;
    text-align: center;
}

@media only screen and (max-height: 600px) {
    #mesage {
        font-size: 40px;
        font-family: 'NunitoExtraBold', serif;
        text-align: center;
    }
}

#err404 {
    height: 300px;
}

#backBtn {
    height: 60px;
    position: absolute;
    top: 40px;
    left: 45px;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* Animation of the back button */
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}