@font-face {
    font-family: 'NunitoExtraBold';
    src: url(../../../Fonts/Nunito/static/Nunito-ExtraBold.ttf) format('truetype');
}

#main {
    flex: 2;
    width: calc(100vw - 40px);
    margin: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #402c2b;
    display: flex;
    flex-direction: column;
}

#upperRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    color: #f9f9fa;
    font-family: 'NunitoExtraBold', serif;
    font-size: 50px;
    flex: 3;
}

#searchContainer {
    flex: 7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
}

#searchInput {
    flex: 1;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f9f9fa;
}

#searchIcon {
    height: 40px;
    padding-right: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #f9f9fa;
}

#lowerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}

/* Media queries */

@media only screen and (max-width: 600px) {
    #upperRow {
        flex-direction: column;
    }

    h1 {
        color: #f9f9fa;
        font-family: 'NunitoExtraBold', serif;
        font-size: 50px;
    }
    
    #searchContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0px;
        margin-bottom: 10px;
        width: 95%;
        align-self: center;
        margin-right: 0px;
    }
    
    #searchInput {
        height: 40px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: #f9f9fa;
    }
    
    #searchIcon {
        height: 40px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: #f9f9fa;
    }
}