#registerFormContainer {
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    border-radius: 10px;
    background-color: #292929;
    opacity: 1;
    background-image:  linear-gradient(30deg, #7e4a48 12%, transparent 12.5%, transparent 87%, #7e4a48 87.5%, #7e4a48), linear-gradient(150deg, #7e4a48 12%, transparent 12.5%, transparent 87%, #7e4a48 87.5%, #7e4a48), linear-gradient(30deg, #7e4a48 12%, transparent 12.5%, transparent 87%, #7e4a48 87.5%, #7e4a48), linear-gradient(150deg, #7e4a48 12%, transparent 12.5%, transparent 87%, #7e4a48 87.5%, #7e4a48), linear-gradient(60deg, #7e4a4877 25%, transparent 25.5%, transparent 75%, #7e4a4877 75%, #7e4a4877), linear-gradient(60deg, #7e4a4877 25%, transparent 25.5%, transparent 75%, #7e4a4877 75%, #7e4a4877);
    background-size: 34px 60px;
    background-position: 0 0, 0 0, 17px 30px, 17px 30px, 0 0, 17px 30px;
}

#logoRegister {
    color: #f9f9fa;
    font-family: 'NunitoExtraBold', serif;
    font-size: 50px;
    flex: unset;
}

#nameRegister {
    padding: 10px;
    font-size: 25px;
    width: 90%;
    align-self: center;
    border-radius: 10px;
}

#passwordRegister {
    padding: 10px;
    font-size: 25px;
    width: 90%;
    align-self: center;
    border-radius: 10px;
}

#btnRegister {
    padding: 10px;
    font-size: 25px;
    width: calc(90% + 20px);
    align-self: center;
    border-radius: 10px;
    font-family: 'NunitoExtraBold', serif;
}

@media only screen and (min-width: 600px) {
    #registerFormContainer {
        width: 500px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-self: center;
        border-radius: 10px;
        background-color: #292929;
        opacity: 1;
        background-image:  linear-gradient(30deg, #7e4a48 12%, transparent 12.5%, transparent 87%, #7e4a48 87.5%, #7e4a48), linear-gradient(150deg, #7e4a48 12%, transparent 12.5%, transparent 87%, #7e4a48 87.5%, #7e4a48), linear-gradient(30deg, #7e4a48 12%, transparent 12.5%, transparent 87%, #7e4a48 87.5%, #7e4a48), linear-gradient(150deg, #7e4a48 12%, transparent 12.5%, transparent 87%, #7e4a48 87.5%, #7e4a48), linear-gradient(60deg, #7e4a4877 25%, transparent 25.5%, transparent 75%, #7e4a4877 75%, #7e4a4877), linear-gradient(60deg, #7e4a4877 25%, transparent 25.5%, transparent 75%, #7e4a4877 75%, #7e4a4877);
        background-size: 34px 60px;
        background-position: 0 0, 0 0, 17px 30px, 17px 30px, 0 0, 17px 30px;
    }
}